on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: list files before checkout
        run: ls -l -a
      - name: checkout repository
        uses: actions/checkout@v4.3.1
      - name: list files after checkout
        run: ls -l -a